﻿body {
  margin: auto;
  padding: 0;
  background-color: #0000A0;
  background: url(iono.jpg);
  background-size: auto;
  font-family: sans serif;
}

.title  {
  text-align: ;
  padding: 50px 0 20px:;
}

.title h1 {  
  margin: 0;
  padding: 0;
  color: #151313;
  text-transform: uppercase;
  font-size: 60px;
}
.container ,left {
    float: left;
    width: 50%;
    height: 400px;
    background: url(iono.jpg);
    background-size: auto;
}
    .container .right {
    float: right;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}
.formBox {
    width:50%;
    padding: 80px 40px;
    box-sizing: border-box;
    height: 400px;
    background: #fff;
}
.formBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #a6af13;
}
.formBox input 
{
        width:100%;
        margin-bottom: 20px;
}
.formBox input[type="text"]:focus,
.formBox input[type="Password"]:focus
{
        border: none;
        border-bottom: 2px solid #a6af13;
        outline: none;
        height: 40px;
}
.formBox input[type="text"]:focus,
.formBox input[type="Password"]:focus 
 {
        border-bottom: 2px solid #262626;
 }
formBox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #262626;
    cursor: pointer;
}
formBox input[type="submit"]:hover
{
    background: #a6af13;
}
formBox a
{
    color:#262626;
    font-size: 12px;
    font-weight: bold;

}